
.restaurant-item{
    max-width:30%;
    margin: 0 25px;
    padding:25px 0;
    color: white;
}
.restaurant-item h3{
    margin-bottom: 10px;
}
.restaurant-item img{
    width: 100%;
    height: 200px;
    margin: 0 0 15px 0;
}
.restaurant-item ul{
    display: flex;
    width: 200%;
}
.restaurant-item ul li{
    list-style: none;
}
.restaurant-item ul li{
    margin-right: 5%;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating{
     background-color: lightgray;
     padding: 8px;
     color:black;
     border-radius: 50%;
    
}
.restaurant-item hr{
    margin: 10px 0;
}