.featured-header{
    grid-area: f-header;
    background-color: #f7c144;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.featured-header img{

    display: inline-block;     
    height: 672px;
    object-fit: cover;
    position: relative;
    left: calc((10/16)*-100vh);
}

/* .header-img2{
    right: calc((10/16)*-100vh);
} */

.search-area h1 {
font-size: 2.1em;
  padding: 4% 0%;
}

.search-area input{
   width: 70%;
   padding: 1.5%;
   margin-right: 5%;
}
.search-area .btn{
    background-color: #000;
    color: #fff;
    font-weight: bold;
}