footer{
    grid-area: footer;
    padding: 20px 80px ;
    background-color: black;
    color:white;
    font-size: 0.8rem;
}
.footer{
    display: flex;
    justify-content: space-between; 
    margin-top:3%;
}

.logo-div{
    width:50%;
}
.ess-urls{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.ess-urls ul{
   
    list-style: none;
    margin-right: 0%;
}

.ess-urls ul li{
    margin: 5% 0;
}

.last-div{
    display: flex;
    justify-content: space-between;
}
.footer-line{
    margin:2% 0;
}
.last-div ul{
    display: flex;
    list-style: none;
}
.last-div ul i{
    margin-right: 5px;
}
.last-div .terms{
    width: 70%;
}
.last-div ul li{
    margin-right: 1%;
}


@media only screen and (max-width: 800px) {
    footer{
        padding: 5% ;
        background-color: black;
        color:white;
        font-size: 1em;
    }
    .footer{
        display: block;
        margin-top:3%;
    }
    .logo-div{
        width:100%;
    }
    .ess-urls{
        display: block;
        width: 100%;
        margin: 5% 0;
      }
      .ess-urls div,.last-div div{
        padding: 5% 0;
      }
      .last-div {
        width: 100%;
        display: block;
    }.last-div .terms{
        width: 100%;
    }
    .last-div .terms ul{
        display:block;
        list-style: none;
    }
    .last-div .terms ul li{
       
        padding: 2% 0;
    }
  }