.card-item{
    width: 30%;
    padding: 25px 0;
}

.card-feature h2{
    margin:10px 0;
}
.card-feature p{
    color:green;
}

@media only screen and (max-width: 600px) {
    .card-item{
        width: 100%;
        padding: 25px 0;
    }
  }